body{
  background: linear-gradient(to left, #38CCCA, #7D9BC4);
}

h1{
    font-family: sans-serif;
    color: #29436b;
    text-align: center;
}


.input-container {
  position: relative;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

.input-container input {
  padding-right: 30px; 
  width: 100%;
  box-sizing: border-box;
  
}
.logo{
  position:absolute;
    left: 7.5rem;
    top: -4rem;
}



.input-container button {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.contenedor{
  font-family: sans-serif;
  max-width: 414px;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 100%;
  position: absolute;
  top: 15rem;
  left: 35.5%;
  height: 60%;
  
}
input[type="password"],[type="text"]{
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: #1b7dba;
  color: white;
  font-size: 14px;
  width: 100%;
 
}
label{
  font-weight: bold;
}
button[ type="submit"] {
  margin-top: 3.5rem;
  padding: 12px;
  margin-left: 6rem;
  background-color: #00e0c6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 50%;

}
button[ type="submit"]::before {
  content: '➤';
  font-size: 20px;
}

